.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    table{
        margin-top: 5rem;
        width: 40%;
        background-color: var(--white);
        
        tr{
            width: 50rem;
            height: 4rem;

            th{
                background-color: var(--black);
                color: var(--white);
            }

            td{
                text-align: center;

                button{
                    width: 5rem;
                    height: 2rem;
                    cursor: pointer;
                    color: var(--white);
                    border-radius: 0.5rem;
                }
            }

            :nth-child(3){
                button{
                    background-color: var(--blue);
                    border-color:var(--blue) ;
                }
                button:hover{
                    background-color: var(--blue-hover);
                    border-color:var(--blue-hover) ;
                }
            }

            :nth-child(4){
                button{
                    background-color: var(--red-delete);
                    border-color: var(--red-delete);
                }
                button:hover{
                    background-color: var(--red-hover);
                    border-color:var(--red-hover) ;
                }
            }
        }
    }
}