.containerFooterUp{ 
    width: 100%;

    .containerFooter{

        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .footer{
            margin-top: 5rem;
            width: 50%;
            height: 6rem;
            background-color: var(--white);
            display: flex;
            justify-content: space-around;
            align-items:center;
            margin-bottom: 2rem;

            button{
                background-color: var(--black);
                color: var(--white);
                height: 3rem;
                width: 8rem;
                font-size: 1rem;
                font-weight: bold;
                cursor: pointer;
            }
            button:hover{
                background-color: var(--black-hover);
            }

            form{
                width: 50%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                input{
                    height: 3rem;
                }
            }
        }
    }

    .overlay{

        display: flex;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.7);
        top: 0;
        left: 0;
        justify-content: center;
        align-items: center;

        .modalCategory{
            background-color: var(--white);
            width: 40rem;
            height: 15rem;
            border-radius: 1rem;
            display: flex;
            flex-direction: column;
            justify-content:center;
            align-items: center;
            color: var(--black);

            h1{
                margin-top: 1rem;
                height: 20%;
            }

            form{
                height: 70%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;

                :first-child{
                    display: flex;
                    height: 50%;
                    width: 80%;
                    justify-content: center;
                    align-items: center;

                    label{
                        width: 50%;
                        font-size: 1rem;
                    }

                    input{
                        width: 50%;
                        height: 3rem;
                    }
                }

                :last-child{
                    width: 100%;
                    display: flex;
                    justify-content: space-evenly;

                    :first-child,:last-child{
                        height: 2.5rem;
                        width: 10rem;
                        font-size: 1rem;
                        cursor: pointer;
                        font-weight: bold;
                        border-color: var(--black);
                    }

                    :first-child{
                        background-color: var(--gray);
                        border-color: var(--black);
                    }

                    :first-child:hover{
                        background-color: var(--gray-hover);
                        border-color: var(--black);
                    }

                    :last-child{
                        color: var(--white);
                        background-color: var(--black);
                        border-color: var(--black);
                        display: flex;
                        align-items: center;
                    }

                    :last-child:hover{
                        background-color:var(--black-hover);
                    }
                }
            }
        }

        .modalProduct{
            background-color: var(--white);
            width: 40rem;
            height: 30rem;
            border-radius: 1rem;
            display: flex;
            flex-direction: column;
            justify-content:space-evenly;
            align-items: center;
            color: var(--black);

            h1{
                height: 3rem;
            }

            form{
                height: 70%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;

                input{
                    height: 2rem;
                }

                :nth-child(1),:nth-child(2),:nth-child(3),:nth-child(4),:nth-child(5){
                    width: 70%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                }

                .buttons{
                    margin-top: 2rem;
                    width: 100%;
                    display: flex;
                    justify-content: space-evenly;

                    :first-child,:last-child{
                    height: 2.5rem;
                    width: 10rem;
                    font-size: 1rem;
                    cursor: pointer;
                    font-weight: bold;
                    }

                    :first-child:hover{
                        background-color: var(--gray-hover);
                    }

                    :last-child{
                        color: var(--white);
                        background-color: var(--black);
                        border-color: var(--black);
                        display: flex;
                        align-items: center;
                    }

                    :last-child:hover{
                        background-color:var(--black-hover);
                    }
                }
            }
        }

    }
}

