*{
    margin: 0;
    padding: 0;
}

.nav-superior{
    display: flex;
    width: 700px;
    justify-content: space-between;
    align-items: center;
    background-color: #483D8B;
}


.nav-superior .esq .imagem{
    height: 100px;
    width: 100px;
    padding: 10px;
}

.nav-superior .dir{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-superior .dir .div-botao{
    height: 50px;
    width: 100px;
    padding: 10px;
}

.nav-superior .dir .div-botao > button{
    width: 100px;
    height: 50px;
}

.nav-superior .dir .div-botao .botao1{
    background-color: rgb(148, 143, 143);
}

.nav-superior .dir .nome{
    color: black;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    width: 130px;
    height: 30px;
}