*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--gray);
}

:root {
    --red: #BC0000;
    --red-delete:#FF0000;
    --red-hover:#b30000;
    --red-dark:#5A2626;

    --blue: #0009E1;
    --blue-hover: #00008B;

    --white: #FFFFFF;
    --gray: #C4C4C4;
    --gray-hover:#E0E0E0;

    --black-hover:#101010;
    --black:#000000;
}